.boundary {
  fill: #ddd;
  stroke: #888;
  stroke-linejoin: round;
}
svg {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

text {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 12px;
}
